"*":
  "exception-reporting":
    userId: "8759fac4-efe0-8ff8-9af2-a5b6f556f668"
  "release-notes":
    viewedVersion: "0.73.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "b6ce4bb3767f54e32dc83303aeffb24023c9ffaf"
  core:
    audioBeep: false
    disabledPackages: [
      "line-jumper"
    ]
    themes: [
      "flatland-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles:
      {}
    autoIndentOnPaste: false
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    fontFamily: "Source Code Pro"
    lineHeight: 1.7
    fontSize: 12
    preferredLineLength: 120
  docblockr:
    {}
  "autocomplete-plus":
    {}
  linter:
    {}
  "block-cursor":
    primaryColor:
      red: 0
      green: 249
      blue: 0
      alpha: 1
  term2:
    colors:
      {}
".html.php.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".jade.source":
  editor:
    preferredLineLength: 120
